.message{"data-message-id": "#{message.id}"}
  %p.message__user-name
    = message.user.name
  %p.message__post-date
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  %p.message__latest-message
    - if message.content.present?
      = message.content
    = image_tag message.image.url if message.image.present?