.flash-box
.wrapper
  = render partial: 'shared/side_bar'

  .chat-main
    .main-header
      .current-group
        %p.current-group__name
          = @group.name
        %ul.member-list
          %li.member-list__member
            - @group.users.each do |group_user|
              = group_user.name
      %form.main-header__edit-btn
        = link_to "Edit", ""
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'input-box', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'input-box__icon' do
            = fa_icon '\f03e', class: 'fa fa-image'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit-btn'
